<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Guglielmo</Name>
    <Version>0.6</Version>
    <Title>Guglielmo</Title>
    <Publisher>Marco Greco</Publisher>
    <InstallerApplicationIcon>guglielmo</InstallerApplicationIcon>
    <InstallerWindowIcon>guglielmo.png</InstallerWindowIcon>
    <WizardStyle>Modern</WizardStyle>
    <StartMenuDir>Guglielmo</StartMenuDir>
    <TargetDir>@ApplicationsDir@/guglielmo</TargetDir>
    <MaintenanceToolName>guglielmo-uninstaller</MaintenanceToolName>
    <ControlScript>appearence.qs</ControlScript>
</Installer>
